extends base.pug
block scripts
  script(src='/static/index.js')


block style
  link(rel='stylesheet', href='../static/style.css')
  link(rel='stylesheet', href='../static/about.css')

block content
  //- div.background 
  //-   //- img(src='servicebg.jpg')
 
  div.Container

     h1 About Page
     ul 
      li#services

       li
        h2 1. About Dance Academy
        p 
         | -> Welcome to Dance Academy, where the art of dance comes to life! Established in 2023, we are passionate about sharing the joy, beauty, and discipline of dance with our community.
       li
        h2 2. Our Mission
        p 
         | -> At Dance Academy, our mission is to inspire, educate, and empower individuals of all ages and backgrounds through the transformative power of dance. We believe that dance is not just a series of movements; it's an expression of emotion, a celebration of culture, and a journey of self-discovery.

       li
        h2 3. Our Story
        p 
         |  -> This is a Dance Academy. This is an estabilshed in 2023.

 
       li
        h2 4. Our Team 
        p 
         | -> Meet the talented and dedicated individuals Santosh Saroj make Dance Academy a vibrant dance community.


       