extends base.pug
block scripts
  script(src='/static/index.js')


block style
  link(rel='stylesheet', href='../static/style.css')
  link(rel='stylesheet', href='../static/service.css')

block content
  //- div.background 
  //-   //- img(src='servicebg.jpg')
 
  div.Container

     h1 Service Provided for All Customer  
     ul 
      li#services

       li
        h2 1. Dance Classes:
        p 
         | ->  Offering a variety of dance styles such as ballet, hip-hop, contemporary, salsa, etc., with different levels of difficulty to accommodate beginners to advanced dancers.
       li
        h2 2. Private Lessons:
        p 
         | ->  Providing one-on-one instruction for personalized attention and skill development. 
       li
        h2  3. Group Classes:
        p 
         | -> Conducting group dance classes for social interaction and shared learning experiences.
 
       li
        h2 4. Choreography:
        p 
         | ->  Creating dance routines for special events, performances, or competitions.
       li
        h2 5. Workshops and Masterclasses:
        p 
         | ->  Offering specialized training sessions with guest instructors or experts in specific dance styles.

       li 
        h2 6. Performance Opportunities:
        p
         | -> Organizing recitals, showcases, or competitions for students to demonstrate their skills.

       li 
        h2 7. Dance Fitness:
        p
         | ->  Incorporating dance-based fitness classes for those interested in improving their fitness while having fun.
       li
        h2 8. Dance Camps:
        p 
         | ->  Hosting summer or holiday camps for intensive dance training and fun activities.


       