@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200;1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
 
h1 {
    text-align: center;
     font-weight: bold;  
     padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: azure;
}

h2{
    font-weight: bold;
    padding: 15px;
    color: aliceblue;

}

p{
 margin-left: 10px; 
 font-size: large;
  color: aliceblue;
 padding: 5px;
}

.Container{
     background: linear-gradient(#141e30, #243b55);
 
    width: 100%;
    background-size: 100%;
     padding-bottom: 10%;
    background-color: rgb(110, 48, 109);

    justify-content: center;
    align-items: center;
     height: 100%;
     
}