 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200;1,300&display=swap');
 h1 {
     text-align: center;
      font-weight: bold;
       padding-left: 45px;
     padding-right: 45px;
     padding: 10px;
     color: aliceblue;
 }
.container {
     min-height: 100%;

 }

 .background {
     background-image: rgb(31, 31, 197);
 }

 #ser {
     margin-left: 4px;
     padding: 20px;
 }

 .Container {
    
     width: 100%;
     background-size: 100%;
      padding-bottom: 10%;
     background-color: rgb(110, 48, 109);

     justify-content: center;
     align-items: center;
      background: linear-gradient(#141e30, #243b55);
     height: 100%;


 }

 p {
      font-size: 20px;
     color: #f0f4f5fc;
     margin: 14px;
     padding: 12px;
  }
 h2{
     padding: 10px;
    color: beige;

}